@model SecretariaGobierno.Models.Instancia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instancia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Establecimiento.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Establecimiento.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Folios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actualizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstanciaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
